interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://connect.biorxiv.org/biorxiv_xml.php?subject=biochemistry
  response:
    body: {string: !!python/unicode "<rdf:RDF xmlns:admin=\"http://webns.net/mvcb/\"\
        \ xmlns=\"http://purl.org/rss/1.0/\" xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"\
        \ xmlns:prism=\"http://purl.org/rss/1.0/modules/prism/\" xmlns:taxo=\"http://purl.org/rss/1.0/modules/taxonomy/\"\
        \ xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\
        \ xmlns:syn=\"http://purl.org/rss/1.0/modules/syndication/\">\r\n<channel\
        \ rdf:about=\"http://biorxiv.org\">\r\n<admin:errorReportsTo rdf:resource=\"\
        mailto:biorxiv@cshlpress.edu\"/>\r\n<title>bioRxiv Subject Collection: Biochemistry</title>\r\
        \n<link>http://biorxiv.org</link>\r\n<description>\r\nThis feed contains articles\
        \ for bioRxiv Subject Collection \"Biochemistry\"\r\n</description>\r\n\r\n\
        \ \r\n\r\n\r\n\r\n<items>\r\n<rdf:Seq>\r\n<rdf:li rdf:resource=\"http://biorxiv.org/cgi/content/short/287961v1?rss=1\"\
        />\n<rdf:li rdf:resource=\"http://biorxiv.org/cgi/content/short/287102v1?rss=1\"\
        />\n<rdf:li rdf:resource=\"http://biorxiv.org/cgi/content/short/286237v1?rss=1\"\
        />\n<rdf:li rdf:resource=\"http://biorxiv.org/cgi/content/short/286633v1?rss=1\"\
        />\n<rdf:li rdf:resource=\"http://biorxiv.org/cgi/content/short/279265v1?rss=1\"\
        />\n<rdf:li rdf:resource=\"http://biorxiv.org/cgi/content/shor[...]
