interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://connect.biorxiv.org/biorxiv_xml.php?subject=genomics+bioinformatics
  response:
    body: {string: "<rdf:RDF xmlns:admin=\"http://webns.net/mvcb/\" xmlns=\"http://purl.org/rss/1.0/\"\
        \ xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\" xmlns:prism=\"\
        http://purl.org/rss/1.0/modules/prism/\" xmlns:taxo=\"http://purl.org/rss/1.0/modules/taxonomy/\"\
        \ xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\
        \ xmlns:syn=\"http://purl.org/rss/1.0/modules/syndication/\">\r\n<channel\
        \ rdf:about=\"http://biorxiv.org\">\r\n<admin:errorReportsTo rdf:resource=\"\
        mailto:biorxiv@cshlpress.edu\"/>\r\n<title>bioRxiv Subject Collection: Genomics\
        \ Bioinformatics</title>\r\n<link>http://biorxiv.org</link>\r\n<description>\r\
        \nThis feed contains articles for bioRxiv Subject Collection \"Genomics Bioinformatics\"\
        \r\n</description>\r\n\r\n \r\n\r\n\r\n\r\n<items>\r\n<rdf:Seq>\r\n<rdf:li\
        \ rdf:resource=\"http://biorxiv.org/cgi/content/short/286740v1?rss=1\"/>\n\
        <rdf:li rdf:resource=\"http://biorxiv.org/cgi/content/short/287987v1?rss=1\"\
        />\n<rdf:li rdf:resource=\"http://biorxiv.org/cgi/content/short/287706v1?rss=1\"\
        />\n<rdf:li rdf:resource=\"http://biorxiv.org/cgi/content/short/287607v1?rss=1\"\
        />\n<rdf:li rdf:resource=\"http://biorxiv.org/cgi/content/short/288035v1?rss=1\"\
        />\n<rdf:li rdf:resource=\"http://biorxiv.org/cgi/content/short/287524v1?rss=1\"\
        />\n<rdf:li rdf:resource=\"http://biorxiv.org/cgi/content/shor[...]
